# Statistics basics
This is autograded assignment. After each problem there is a test cell (with `assert`'s). If it runs correctly, test is passed, if it gives error, something should be fixed. Implement the functions, click "Validate" button, then submit for grading. All problems weight 1 point except where stated otherwise.

## Working with series

In [1]:
!pip install pandas
import pandas as pd

Requirement already satisfied: pandas in /home/nata/anaconda3/lib/python3.9/site-packages (1.4.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/nata/anaconda3/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/nata/anaconda3/lib/python3.9/site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.18.5 in /home/nata/anaconda3/lib/python3.9/site-packages (from pandas) (1.21.5)
Requirement already satisfied: six>=1.5 in /home/nata/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.12.0)

### Problem 1
Write function `squares(n)` that returns `pd.Series` object that contains squares of consequent integer numbers from 0 to `n` (`n` is excluded). Indexe should contain numbers 0, 1, 2, ..., `n-1`. For example, `squares(4)` should return `Series` that looks like

```
0    0
1    1
2    4
3    9
dtype: int64
```

In [2]:
# YOUR CODE HERE

def squares(n):
    # return object that contains squares of consequent integer numbers from 0 to n (n is excluded)
    # Indexes should contain numbers 0, 1, 2, ..., n-1
    return pd.Series(range(0, n)) ** 2

In [3]:
assert squares(3).equals(pd.Series([0, 1, 4]))
assert squares(1).equals(pd.Series([0]))

## Problem 2
Write function `squares_of_numbers(numbers)` that returns `pd.Series` object that contains squares of numbers from list `numbers`. Index should coincide with `numbers`. For example, `squares_of_numbers([1, 5, 2])` should return `Series` that looks like

```
1     1
5    25
2     4
dtype: int64
```

In [4]:
# YOUR CODE HERE

def squares_of_numbers(numbers):
    # returns pd.Series object that contains squares of numbers from list numbers
    # Indexes should coincide with numbers
    return pd.Series(numbers, index=numbers) ** 2

In [5]:
assert squares_of_numbers([1, 5, 2]).equals(pd.Series([1, 25, 4], index=[1, 5, 2]))
assert squares_of_numbers([1, 4, 2])[4] == 16
assert squares_of_numbers(range(100, 0,-1)).equals(pd.Series((pd.Series(range(100, 0, -1)) ** 2).values, index=range(100, 0, -1)))

## Problem 3
Write function `get_grade_from_series(series, firstname, lastname)` that takes three arguments: `series` is `pd.Series` whose indexes are full names of students and values are their grades, `firstname` and `lastname` are first and last names of a student we are interested in. Names are concatenated with one space. For example,

```
get_grade_from_series(pd.Series(['A', 'F', 'B'], 
                                 index=['Alice Smith', 'John Doe', 'Eliza Richardson']),
                       'John', 'Doe')
```
sould return `'F'`.

**Note.** You are not allowed to use loops or `if`'s in this problem.

In [6]:
# YOUR CODE HERE

def get_grade_from_series(series, firstname, lastname):
    # indexes are full names of students 
    # values are their grades
    # firstname and lastname are first and last names of a student we are interested in
    # Names are concatenated with one space
    return series[firstname + ' ' + lastname]

In [7]:
assert get_grade_from_series(pd.Series(['A', 'F', 'B'], 
                                 index=['Alice Smith', 'John Doe', 'Eliza Richardson']),
                       'John', 'Doe') == 'F'
assert get_grade_from_series(pd.Series([100, 200], index=['A B', 'C D']), 'A', 'B') == 100

## Problem 4
Write function `first_element(series)` that return the value of the first element of a series. It should work with any kind of indexes.

**Note.** You are not allowed to use loops or `if`'s in this problem.

In [8]:
# YOUR CODE HERE

def first_element(series):
    # return the value of the first element of a series
    # it works with any kind of indexes
    return series.iloc[0]

In [9]:
assert first_element(pd.Series([2, 5, 100])) == 2
assert first_element(pd.Series([2, 5, 100], index=['a', 'b', 'c'])) == 2
assert first_element(pd.Series([100, 3, 5], index=[2, 0, 1])) == 100
assert first_element(pd.Series(range(100), index=range(100, 0, -1))) == 0

## Problem 5
Write function `middle_third(series)` that returns middle third of a series `series`. For example, if `series` is

```
9     1
1     5
4     3
3    10
7    12
5    15
dtype: int64
```

shoud be returned the following series:

```
4     3
3    10
dtype: int64
```

You may assume that the number of elements in `series` is multiple of 3.

**Hint.** Use function `len` to get number of elements in `series`.

**Note.** You are not allowed to use loops or `if`'s in this problem.

In [10]:
# YOUR CODE HERE

def middle_third(series):
    # returns middle third of a series series
    # the number of elements in series is multiple of 3
    length = len(series) // 3
    
    return series[length:2*length]

In [11]:
assert middle_third(pd.Series([1, 5, 3, 10, 12, 15], index=[9, 1, 4, 3, 7, 5])).equals(pd.Series([3, 10], index=[4, 3]))
assert middle_third(pd.Series(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'j'], index=[1, 3, 5, 7, 10, 2, 4, 9, 6])).equals(pd.Series(['d', 'e', 'f'], index=[7, 10, 2]))

## Problem 6
Write function `increase(series)` that returns a series obtained from `series` by increasing each its element by 1.

**Note.** You are not allowed to use loops or `if`'s in this problem.

In [12]:
# YOUR CODE HERE

def increase(series):
    # returns a series obtained from series by increasing each its element by 1
    return series + 1

In [13]:
assert increase(pd.Series([1, 2, 3])).equals(pd.Series([2, 3, 4]))
assert increase(pd.Series([1, 2, 3], index=[3, 2, 1])).equals(pd.Series([2, 3, 4], index=[3, 2, 1]))
assert increase(pd.Series(range(100))).equals(pd.Series(range(1, 101)))

## Problem 7
Write function `century_20(years)` that takes series `years` with integer values representing years and returns only those years who belongs to 20'th century (from 1901 till 2000).

**Note.** You are not allowed to use loops or `if`'s in this problem.

In [14]:
# YOUR CODE HERE

def century_20(years):
    # return only those years who belongs to 20'th century (from 1901 till 2000)
    return years[(years >= 1901) & (years <= 2000)]

In [15]:
assert century_20(pd.Series(range(3000))).equals(pd.Series(range(1901, 2001), index=range(1901, 2001)))
assert century_20(pd.Series([1983, 1999, 2001, 1876], index=['a', 'b', 'd', 'c'])).equals(pd.Series([1983, 1999], index=['a', 'b']))

### Problem 8
Write function `get_pancakes(food)` that takes a series of strings and returns a new series obtained from `food` by keeping only elements that contain substring `'pancake'`.

**Note.** You are not allowed to use loops or `if`'s in this problem.

**Hint.** If `series` contains strings, you an access its elements and apply string operations to them by using accessor `.str`. For example:

In [16]:
series = pd.Series(['alpha', 'bravo', 'charlie'])
series

0      alpha
1      bravo
2    charlie
dtype: object

In [17]:
series.str.upper()

0      ALPHA
1      BRAVO
2    CHARLIE
dtype: object

In [18]:
series.str[1]

0    l
1    r
2    h
dtype: object

In [19]:
series.str.contains('ha')

0     True
1    False
2     True
dtype: bool

In [20]:
# YOUR CODE HERE

def get_pancakes(food):
    # returns a new series obtained from food by keeping only elements that contain substring 'pancake'
    return food[food.str.contains('pancake')]

In [21]:
assert get_pancakes(pd.Series(['russian kvas', 'sweet pancake', 'okroshka'])).equals(pd.Series(['sweet pancake'], index=[1]))
assert get_pancakes(pd.Series(['pancake', 'pancakes','cheescake',  'pancake'])).equals(pd.Series(['pancake', 'pancakes', 'pancake'], index=[0, 1, 3]))

## Problem 9 (2 points)
Write function `even_to_negative(series)` that takes series of numbers and makes all even elements of this series negative (keeping their absolute value). For example `even_to_negative(pd.Series([1, 2, -3, -4, -5, 6, 7, 8])` should return `pd.Series([1, -2, -3, -4, -5, -6, 7, -8])`.

**Note.** You are not allowed to use loops or `if`'s in this problem.

**Hint.** It is possible to avoid `if`'s using method `.where`. It allows you to replace values in one series by values in another series if some condition is satisfied. For example:

In [22]:
series = pd.Series([1, 2, 3, 4, 5])
mask = pd.Series([True, False, True, True, False])
series.where(mask, 100)

0      1
1    100
2      3
3      4
4    100
dtype: int64

You see that `series.where` replaced elements in the initial `series` by number `where` in positions that corresponds to `False` in its first argument. Usual way to use it is construct mask by condition. For example:

In [23]:
series = pd.Series([1, 2, 3, 4, 5])
series.where(series < 3, 100)

0      1
1      2
2    100
3    100
4    100
dtype: int64

Here we replace all elements that are smaller than 3 by 100. 

The second argument of `where` may be also `Series`. In this case elements for replacements would be taken from this series.

In [24]:
series = pd.Series([1, 2, 3, 4, 5])
newseries = pd.Series([10, 200, 3000, 40000, 500000])
series.where(series < 3, newseries)

0         1
1         2
2      3000
3     40000
4    500000
dtype: int64

In [25]:
# YOUR CODE HERE

def even_to_negative(series):
    #Replace even number to negative value
    return series.where(series % 2 != 0, abs(series) * (-1))

In [26]:
assert even_to_negative(pd.Series([1, 2, -3, -4, -5, 6, 7, 8])).equals(pd.Series([1, -2, -3, -4, -5, -6, 7, -8]))
assert even_to_negative(pd.Series([1, 2, 3], index=[3, 2, 1])).equals(pd.Series([1, -2, 3], index=[3, 2, 1]))

### Problem 10 (3 points)
In some state, income tax is calculated in the following way. Base fare is 13%. If in some month your income is larger than 1000, for the rest of the year (beginning from the next month), fare is set to 20%. For example, if your income is 150 every month, then in July you will have 150 × 7 = 1050 and beginning from August your tax rate is 20%. Write function `calculate_tax(income)` that takes series `income` that contains montly income (beginning from the beginning of year) and returns the overall tax value. The year can has arbitrary length.


**Hint.** you need cumulative sum method `.cumsum()`. Also it is useful to know that `True == 1` и `False == 0`, and use method `.any()`.

**Note.** You are not allowed to use loops. You are allowed to use exactly one `if`.

In [27]:
# YOUR CODE HERE

import numpy as np


def calculate_tax(income):
    # Base fare is 13% -> 0.13
    # If in some month your income is larger than 1000, 
    # for the rest of the year (beginning from the next month), fare is set to 20% -> 0.2
    # return the overall tax value
    
    # cumulative sum method .cumsum()
    cumulative_sum = income.cumsum()
    
    # fill months with tax values
    taxes = cumulative_sum.where(cumulative_sum > 1000, 0.13)
    taxes = taxes.where(taxes <= 1000, 0.2)
    
    # first month is with 0.2 isn't correct, because a value should be changed on the following month
    # then move indexes and replace Nan with 0.13
    taxes = taxes.shift(1).fillna(0.13)
    #print(taxes)
    
    # return sum of all taxes (tax per month = tax in month * income in month)
    return (taxes * income).sum()

In [28]:
import numpy as np

assert np.isclose(calculate_tax(pd.Series([150]*12)), 286.5)
assert np.isclose(calculate_tax(pd.Series([100]*12)), 163)
assert np.isclose(calculate_tax(pd.Series([50]*12)), 78)
assert np.isclose(calculate_tax(pd.Series([1000]*12)), 2260)

assert np.isclose(calculate_tax(pd.Series(range(12))*100), 1215)
assert np.isclose(calculate_tax(pd.Series(range(11,-1,-1))*100), 1243)
income = pd.Series([150, 150, 150, 150, 150, 150, 150, 150], 
                   index=list('abcdefgh'))
assert np.isclose(calculate_tax(income), 166.5)
income = pd.Series([150, 150, 150, 150, 150, 150, 150, 150], 
                   index=[1, 3, 2, 4, 6, 4, 7, 8])
assert np.isclose(calculate_tax(income), 166.5)